In [ ]:
import pandas as pd
movie_data = pd.read_csv('https://raw.githubusercontent.com/JonatasDeOliveira/movie-it/master/src/data/moviesOnStreamingPlatforms_updated.csv',sep=',')

In [ ]:
movie_data.head()

   Unnamed: 0  ID  ...                 Language  Runtime
0           0   1  ...  English,Japanese,French    148.0
1           1   2  ...                  English    136.0
2           2   3  ...                  English    149.0
3           3   4  ...                  English    116.0
4           4   5  ...                  Italian    161.0

[5 rows x 17 columns]

Queremos agora analisar os tipos dos dados da tabela e modificar caso necess√°rio

In [ ]:
movie_data.dtypes

Unnamed: 0           int64
ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
Type                 int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

### Install PySpark

In [ ]:
!pip install pyspark

### Create Spark Context

In [ ]:
from pyspark import SparkContext
from pyspark.sql import Row
from pyspark.sql import *
from pyspark.sql import SQLContext
from pyspark import SparkFiles

In [ ]:
spark = SparkContext("local", "MovieIt App")

In [ ]:
spark.addFile('https://raw.githubusercontent.com/JonatasDeOliveira/movie-it/master/src/data/moviesOnStreamingPlatforms_updated.csv')

In [ ]:
sql_context = SQLContext(spark)
movies_df = sql_context.read.csv(SparkFiles.get("moviesOnStreamingPlatforms_updated.csv"), header=True, inferSchema= True)

In [ ]:
movies_df.show(5)

+---+---+--------------------+----+---+----+---------------+-------+----+-----------+-------+----+--------------------+--------------------+--------------------+--------------------+-------+
|_c0| ID|               Title|Year|Age|IMDb|Rotten Tomatoes|Netflix|Hulu|Prime Video|Disney+|Type|           Directors|              Genres|             Country|            Language|Runtime|
+---+---+--------------------+----+---+----+---------------+-------+----+-----------+-------+----+--------------------+--------------------+--------------------+--------------------+-------+
|  0|  1|           Inception|2010|13+| 8.8|            87%|      1|   0|          0|      0|   0|   Christopher Nolan|Action,Adventure,...|United States,Uni...|English,Japanese,...|    148|
|  1|  2|          The Matrix|1999|18+| 8.7|            87%|      1|   0|          0|      0|   0|Lana Wachowski,Li...|       Action,Sci-Fi|       United States|             English|    136|
|  2|  3|Avengers: Infinit...|2018|13+| 8.5|            84%|      1|   0|          0|      0|   0|Anthony Russo,Joe...|Action,Adventure,...|       United States|             English|    149|
|  3|  4|  Back to the Future|1985| 7+| 8.5|            96%|      1|   0|          0|      0|   0|     Robert Zemeckis|Adventure,Comedy,...|       United States|             English|    116|
|  4|  5|The Good, the Bad...|1966|18+| 8.8|            97%|      1|   0|          1|      0|   0|        Sergio Leone|             Western|Italy,Spain,West ...|             Italian|    161|
+---+---+--------------------+----+---+----+---------------+-------+----+-----------+-------+----+--------------------+--------------------+--------------------+--------------------+-------+
only showing top 5 rows